.conteinerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    padding: 0;
    margin: 0 2rem 0 2rem;
    height: 100vh;
}
h1{
    color: white;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
}

p{
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: "Patrick Hand", cursive; 
}
.equipe {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: "Patrick Hand", cursive;    
}

.butao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Patrick Hand", cursive;
    color: #171429;
    cursor: pointer; 
    background-color: #ffffff;
    
}
.btnReturn a{
    text-decoration: none;
}
.btnReturn a:visited {    
    color: #171429;
}
.butao:hover {
    background-color: #c2bcf1;
}

.equipe a {
    text-decoration: none;
    box-shadow: 0;
    transition: color 1s ;
}
.equipe a:visited {
    color:#ffffff
}
.equipe a:hover {
    color: #7c74a7;
    box-shadow: 0px 0px 3px #c2bcf1 ;    
}


